{% extends 'basic.html' %}
{%block mycontent %}
<style>.custom-button {
    background-color: #0f5c03e0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}</style>
<div class="container my-5 ">
    <div class="row">
        <div class="col-12">

            <h1 class="text-center text-dark
            "><span> {{product.book_name}} kitobi haqida </span></h1>
        <hr> 
        </div>
        <div style="padding-right: 20px;" class="col-12 col-md-6">
            <img src="/media/{{product.book_img}}" class="card-img" alt="Karta rasmi">
        </div>
    
        <div style="padding-right: 80px;"  class="col-12 col-md-6">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                  <h5 class="card-title">Kitob nomi: {{product.book_name}}</h5>
                  <p class="card-text">Kitob haiqida : {{product.book_decs}}</p>
                  <p  class="card-text">Narxi : {{product.book_price}} so'm</p>
                  <p class="card-text"> Muallifi: {{product.book_author}} </p>
                  <a class="custom-button" href="{{ product.book_file.url }}">Yuklab Olish</a>
                </div>
              </div> 
            </div>
        </div>
    </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br
         
       
{% endblock%}